<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>veggie buddy</title>
</head>
<body>
<script language="javascript">
function toggle(matchingAttribute, removeEmptyListings=false) {
    var divArray = document.getElementsByTagName("div");
    for(var i=divArray.length-1; i>=0; i--) {
        if(divArray[i].id.match(matchingAttribute)) {
            if(divArray[i].style.display != 'none') {
                divArray[i].style.display = 'none';
            } else {
                divArray[i].style.display = '';
            }
        }
    }
    if (!removeEmptyListings) {
        return
    }
    var cardArray = document.getElementsByClassName("card");
    for(var i=cardArray.length-1; i>=0; i--) {
        var storeArray = cardArray[i].getElementsByClassName("listing_container");
        var isEmpty = true
        for(j=storeArray.length-1; j>=0; j--) {
            if(storeArray[j].style.display == '') {
                isEmpty = false
                cardArray[i].style.display = '';
            }
        }
        
        if (isEmpty) {
            cardArray[i].style.display = 'none';
        }
    }
} 

function toggleRefine() {
    var left = document.getElementById("sidebar").style.left
    console.log('sidebar left: ' + document.getElementById("sidebar").style.left)
    console.log('openbtn left: ' + document.getElementById("openbtn").style.left)
    if(left == -20 || left == "-20px" || left == "-20") {
        document.getElementById("sidebar").style.left = '-280px';
        document.getElementById("openbtn").style.left = '-175px';
        document.getElementById("openbtn").innerText = "> Refine";
    } else {
        document.getElementById("sidebar").style.left = "-20px";
        document.getElementById("openbtn").style.left = "75px";
        document.getElementById("openbtn").innerText = "< Refine";
    }
}

</script>
    
    <div class="nav-container">
        <nav class="navbar">
            <a id="navbar-logo" href="/">grocery buddy</a>
            <div class="wrapper">
                <form action='/' method='POST'>
                    <div class='select-wrapper'>
                        <img id="search-img" src="{{ url_for('static',filename='images/search.png') }}">
                        <input type="text" name="search_query" defa="{{search}}" placeholder="Search">
                    </div>
                    
                    <div class='select-wrapper'>
                        <h4>Location :</h4>
                        <select name="city_select" id="" class="form-control" >
                            {% for c in cities %}
                                {% if city_formatted == c %}
                                    <option value="{{c}}" selected="selected">{{c}}</option>
                                {% else %}
                                    <option value="{{c}}">{{c}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
        
                    <button type="submit" formethod="POST">Apply</button>
                </form>
            </div>
        </nav>
    </div>
    <br><br><br><br><br><br>
    
    <div class='sidebar' id='sidebar' style='left: -280px'>
        <div class='category-buttons'>
            <h5>Categories:</h5>
            {% for cat in categories %}
                <label class='refinebtn'>
                    <h6>{{cat}}</h6>
                    <input type="checkbox" name="has_{{cat}}" checked onClick="toggle('{{ cat }}')">
                </label>
            {% endfor %}
        </div>
        <div id='store-buttons'>
            <h5>Stores:</h5>
            {% for store in stores %}
                <label class='refinebtn'>
                    <h6>{{store}}</h6>
                    <input type="checkbox" name="has_{{store}}" checked onClick="toggle('{{ store }}', true);">
                </label>
            {% endfor %}
        </div>
    </div>
    <button class="openbtn" id="openbtn" onclick="toggleRefine()" style='left: -175px'>> Refine</button>
    <div class="main">
        {{message}}
        <div class="column-container">
            {% for df in row_datas %}
            <div class='column'>
                {% for d in df %}
                <div class ='card' id='{{d[0][6]}}'>
                    <div class='top'>
                        <div class='title'>
                            {{ d[0][0] }}
                        </div>
                        <img src="{{ d[0][4] }}">
                    </div>
                    {% for row in d %}
                        <div class='listing_container' id='{{ row[3] }}'>
                            <div class='body'
                            {% if row[11] == 'TRUE' %}
                                id="{{ 'hiddenresult_' + row[0] }}"
                            {% endif %}>
                                <div class='item'
                                {% if d[0] == row %}
                                    id="bestprice"
                                {% endif %}>
                                    <div class='texts'>
                                        <div class='store'>{{ row[3] }}</div>
                                        <div class='right'>
                                            <div class='price'>{{ row[2] }}</div>
                                            <div class='story'>{{ row[5] }}</div>
                                        </div>
                                    </div>
                                    <div class='name'>{{ row[1] }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class='end' style="clear: right"></div>            
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>  
    </div>
</body>
</html>