@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');

@viewport {
    zoom: 1.0;
    min-zoom: 1.0;
    max-zoom: 1.0;
}

.column-container{
    display: flex;
    padding-right: 0.3rem;
}
.column{
    width: 20%;
    margin: 0.3rem;
    margin-right: 0;
    background-color: lightgrey;
    overflow: hidden;
}
.card {
    background-color: white;
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 10px;
    align-items: right;
    margin-bottom: 0.7rem;
    overflow: hidden;
    opacity: 1;
}
.top{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 6px;
}
.title{
    float:left;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
}
#bestprice{
    color: black;
    background: hsl(0, 0%, 98%)
}
.table{
    clear: right;
}

img {
    float: right;
}

.item{
    height:fit-content;
    text-align: left;
}

.texts{
    width: 100%;
    margin-left: 0.1rem;
    text-align:left;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.right{
    text-align: right;
    width: 60%;
}
.store{
    font-family: 'BenchNine', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    text-align: left;
    float: left;
}
.price{
    text-align: right;
    vertical-align: center;
    padding-top: 0.7rem;
    margin-right: 0.5rem;
    font-weight:bolder;
    color: red;
    font-family: 'Roboto', sans-serif;
}
.name{

    font-family: 'BenchNine', sans-serif;
    margin-left: 0.5rem;
    font-size: 1.3rem;
}
.nav-container {
    width: 100%;
    background-color: white;
    height:70px;
    position: fixed;
    top: 0;
}
.extend{
    background-color: hsl(0, 0%, 0%);
    display: inline-block;
    cursor:pointer;
    height: 45px;
    width:100%;
}
label{
    display: ''; 
}
h2{
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    margin: auto;
    padding: auto;
    font-size: 1.7rem;
    margin-left: 10px;
    color:hsl(0, 0%, 100%);
}
.arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    justify-content: right;
    float: right;
    margin-right:1rem;
    padding: 3px;
    width: 15px;
    height:15px;
    color: white;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.resultcheckbox{
    display: none;
    font-size: 50px;
    vertical-align: center;
    margin:auto;
}
input[type='checkbox'] {
    width:50px;
    height:30px;
    border-radius:5px;
    border:2px solid #555;
    margin: auto;
    padding: auto;
    font-size:3rem;
    vertical-align: middle;
}
input[type='checkbox']:checked {
    background: #abd;
}
.checkbox-container{
    background-color:lightgray;
    display: flex;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor:pointer;
    background-color: hsl(0, 0%, 98%);
}
.navbar {
    align-items: left;
    height: 70px;
    line-height:70px;
    justify-content: space-between;
    display: flex;
    margin-left: 1vw;
    padding-right: 1vw;
}
a {
    color: black;
    justify-self: start;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    margin-right: 0.5vw;
    cursor:pointer;
    font-size:4vw;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-weight:bolder;
    white-space:nowrap;
}
h3{
    color: black;
    font-family: 'Inconsolata', monospace;
    margin-top:-5px;
    padding-top:-100px;
    margin-left: 0px;
    margin-right: 2vw;
    font-size: 1vw;
    font-weight:bolder;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    white-space:nowrap;
}

.subtitle{
    text-align: center;
}

.main{
    align-items: center;
    align-self: center;
    margin-top: 70px;
}

body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}